.modal-content{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(87deg, #282631, #242327);
}

.modal-header{
    border-bottom:0px !important;
}

.modal-footer{
    border-top:0px !important;
}

.close{
    color:white !important;
}